.container {
  width: 100%;
  height: 100%;
  padding: 16px;

  .articleTitle {
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 0 16px;

    .left {
      display: flex;
      align-items: center;
      // width: 600px;
      white-space: nowrap;
    }
  }

  .create {
    display: flex;

    .editBox{
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;

      .content {
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }

    .previewBox {
      flex: 1;
      background-color: #fff;
      padding: 16px;
      margin-left: 16px;
      border: 1px solid #ccc;
    }
  }

}